@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99.2%;
    --foreground: 0 0% 0%;
    --card: 0 0% 99.2%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 98.8%;
    --popover-foreground: 0 0% 0%;
    --primary: 15.4 90.6% 49.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214.3 24.1% 94.3%;
    --secondary-foreground: 0 0% 3.1%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 32.2%;
    --accent: 15.0 100% 96.1%;
    --accent-foreground: 14.9 94.3% 41.0%;
    --destructive: 358.4 74.8% 59.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 17.1% 92%;
    --input: 0 0% 92.2%;
    --ring: 15.4 90.6% 49.8%;
    --chart-1: 15.4 90.6% 49.8%;
    --chart-2: 9.3 100% 81%;
    --chart-3: 24.9 98.1% 58%;
    --chart-4: 217.1 76.7% 54.5%;
    --chart-5: 40.9 100% 72.9%;
    --sidebar: 210 42.9% 97.3%;
    --sidebar-foreground: 0 0% 0%;
    --sidebar-primary: 0 0% 0%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 16.2 100% 94.9%;
    --sidebar-accent-foreground: 0 0% 0%;
    --sidebar-border: 0 0% 92.2%;
    --sidebar-ring: 0 0% 0%;
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 1.4rem;
    --shadow-color: 0 0% 0%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.27rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 94.1%;
    --card: 0 0% 7.1%;
    --card-foreground: 0 0% 94.1%;
    --popover: 240 2% 10%;
    --popover-foreground: 0 0% 94.1%;
    --primary: 15.4 90.6% 49.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 14.8 90.7% 42.2%;
    --secondary-foreground: 0 0% 94.1%;
    --muted: 240 2.8% 14.1%;
    --muted-foreground: 0 0% 58.8%;
    --accent: 14.7 96.6% 23.1%;
    --accent-foreground: 0 0% 99.6%;
    --destructive: 0 94.8% 70%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 12.2%;
    --input: 0 0% 23.1%;
    --ring: 15.4 90.6% 49.8%;
    --chart-1: 15.4 90.6% 49.8%;
    --chart-2: 50 91.4% 50%;
    --chart-3: 0 93.5% 81.8%;
    --chart-4: 217.5 87.6% 65.3%;
    --chart-5: 40.9 100% 72.9%;
    --sidebar: 0 0% 7.1%;
    --sidebar-foreground: 0 0% 94.1%;
    --sidebar-primary: 15.4 90.6% 49.8%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 15.5 93.9% 12.9%;
    --sidebar-accent-foreground: 14.9 94.7% 44.1%;
    --sidebar-border: 222.9 6.4% 21.4%;
    --sidebar-ring: 15.4 90.6% 49.8%;
    --shadow-color: 0 0% 0%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}